:root {
  --green: #00aa88;
  --grey: #2b2c33;
  --black: #000000;
  --white: #f7f7f7;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
