* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1e201e;
  color: #ecdfcc;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #ecdfcc;
}

h1.nav-title a {
  color: #ecdfcc;
  text-decoration: none;
}

h1.nav-title a:hover {
  color: blue;
  transition: all 0.7s ease;
}

ul.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

li a.link {
  color: #ecdfcc;
  text-decoration: none;
}

li a.link:hover {
  color: blue;
  border-bottom: 2px solid blue;
}

/* ==================== hero section =============================== */
.container-hero {
  padding: 20px;
  display: flex;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.hero-content .button {
  margin-top: 30px;
  background-color: #ecdfcc;
  padding: 20px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.hero-content .button:hover {
  background-color: blue;
  color: white;
  transition: all 0.7s ease;
}

.hero-image {
  display: flex;
  justify-content: center;
  flex: 50%;
}

.hero-image img {
  max-width: 50%;
}
